body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('https://media1.tenor.com/m/utT4jdDXfHAAAAAC/james-franco.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}

#root{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App{
  text-align: center;
  font-family: Arial, sans-serif;
  max-width: 90vw;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
}

h1{
  color: goldenrod;
  margin-bottom: 5px;
}

.puzzle-display{
  margin:15px auto;
  padding: 20px 30px;
  background-color: rgb(0,0,0,0.4);
  border-radius: 20px;
  border: 2px solid white;
  display: block;
  min-width: 300px;
  width: auto;
}

.puzzle-display h2{
  font-size: 2.5em;
  letter-spacing: 5px;
  color: white;
  font-family: 'Courier New', monospace;
  margin: 0;
  white-space: nowrap;
  overflow-wrap: normal;
  display: inline-block;
}

.guess-input{
  margin: 30px 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.guess-input input{
  padding: 10px;
  font-size: 1.2em;
  width: 200px;
  text-align: center;
  border: 2px solid goldenrod;
  border-radius: 4px;
  text-transform: uppercase;
}

.guess-input button{
  padding: 10px 20px;
  font-size: 1.1em;
  background-color: goldenrod;
  color: black;
  border: 2px solid black;
  border-radius: 20px;
  cursor: url('./assets/Death.svg'),auto;
}

.guess-input button:hover{
  background-color: black;
  color: white;
}

.incorrect-guesses {
  margin-top: 5px;
  padding: 5px;
  background-color: black;
  border-radius: 20px;
  border: 2px solid black
}

.incorrect-guesses h3 {
  color: white;
  margin-bottom: 5px;
}

.incorrect-guesses p{
  font-size: 1.3em;
  color: white;
  font-weight: bold;
  min-height: 25px;
}

.game-over-message {
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(235, 34, 12, 0.4);
  border-radius: 8px;
  border: 2px solid black;
}

.game-over-message h2 {
  color: white;
  font-size: 2em;
  margin: 10px 0;
}

.game-over-message p{
  color: white;
  font-size: 1.2em;
}

.game-over-message strong{
  color: white;
  font-size: 1.3em;
}
.reset-button{
  margin-top: 15px;
  padding: 12px 30px;
  font-size: 1.1em;
  background-color: goldenrod;
  color: black;
  border: 2px solid black;
  border-radius: 20px;
  cursor: url('./assets/Death.svg'), auto;
}

.reset-button:hover{
  background-color: black;
  color: white;
}

.win-message{
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(28, 235, 114, 0.2);
  border-radius: 8px;
  border: 2px solid green
}

.win-message h2{
  color: goldenrod;
  font-size: 2em;
  margin: 10px 0;
  font-family: Arial, sans-serif;
  letter-spacing: normal;
}

.win-message p{
  color: goldenrod;
  font-size: 1.3em;
  font-family: Arial, sans-serif;
}